<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="rounded-button"></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>

<!-- Segunda linha: título centralizado -->
<ion-toolbar color="light">
  <ion-title class="app-title">Agenda</ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">agenda</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
