<ion-header>
  <!-- Primeira linha: botão MENU -->
  <!--
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button class="menu-button" (click)="openMenu()" fill="solid">
        <ion-icon name="menu-outline" slot="start"></ion-icon>
        <span>MENU</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar> -->

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button class="rounded-button"></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>

  <!-- Segunda linha: título centralizado -->
  <ion-toolbar color="light">
    <ion-title class="app-title">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-container" fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="home-item" *ngFor="let item of homeItems">
        <ion-card button (click)="navigateTo(item.route)" class="home-card">
          <img [src]="item.icon" alt="{{ item.label }}" class="home-icon" />
        </ion-card>
        <ion-label class="home-label">{{ item.label }}</ion-label>
      </ion-col>        
    </ion-row>
  </ion-grid>
</ion-content>
