<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Peso</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="floating">Peso (Kg)</ion-label>
    <ion-input type="number" [(ngModel)]="peso" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Data e Hora</ion-label>
    <ion-datetime presentation="date-time" [(ngModel)]="data"></ion-datetime>
  </ion-item>

  <ion-button expand="block" color="primary" class="ion-margin-top" (click)="salvar()">
    Cadastrar
  </ion-button>

  <ion-button expand="block" color="medium" (click)="limpar()">
    Limpar Campos
  </ion-button>

</ion-content>
