<ion-menu menuId="main" side="start" contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/home">Home</ion-item>
      <ion-item routerLink="/equipe">Equipe</ion-item>
      <ion-item routerLink="/paciente">Paciente</ion-item>
      <ion-item routerLink="/imunosupressores">Imunossupressores</ion-item>
      <ion-item routerLink="/carteirinha">Carteirinha</ion-item>
      <ion-item routerLink="/agenda">Agenda</ion-item>
      <ion-item routerLink="/controlesdiarios">Controles Diários</ion-item>
      <ion-item routerLink="/orientacoes">Orientações</ion-item>
      <ion-item routerLink="/perguntasfrequentes">Perguntas Frequentes</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>
