ion-segment.custom-tabs {
  margin-bottom: 16px;
  --indicator-color: #004d40;
  --background: #e0f2f1;
}

.section-title {
  font-weight: bold;
  margin: 16px 0 8px;
  font-size: 14px;
  color: #004d40;
}

ion-item {
  --background: #fff;
  border-radius: 8px;
  margin-bottom: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.unit {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

.fab-label {
  margin-left: 6px;
  font-size: 14px;
  font-weight: bold;
  color: white;
}
