<app-page-header titulo="Controles diários"></app-page-header>

<ion-content class="ion-padding">

  <!-- Tabs -->
  <ion-segment [(ngModel)]="activeTab" value="peso" class="custom-tabs">
    <ion-segment-button value="peso">PESO</ion-segment-button>
    <ion-segment-button value="glicemia">GLICEMIA</ion-segment-button>
    <ion-segment-button value="pressao">PRESSÃO</ion-segment-button>
    <ion-segment-button value="temperatura">TEMPERATURA</ion-segment-button>
  </ion-segment>

  <!-- PESO -->
  <div *ngIf="activeTab === 'peso'" class="registros">
    <div class="section-title">MARÇO - 2024</div>

    <ion-item>
      <ion-label>
        <p>Dia 30 <span>11:25</span></p>
        <h2>75 <span class="unit">Kg</span></h2>
      </ion-label>
      <ion-icon name="warning-outline" color="danger" slot="end"></ion-icon>
      <ion-button fill="clear" slot="end" size="small">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label>
        <p>Dia 28 <span>08:25</span></p>
        <h2>73,8 <span class="unit">Kg</span></h2>
      </ion-label>
      <ion-icon name="warning-outline" color="danger" slot="end"></ion-icon>
      <ion-button fill="clear" slot="end" size="small">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <div class="section-title">FEVEREIRO - 2024</div>
    <ion-item>
      <ion-label>
        <p>Dia 26 <span>09:11</span></p>
        <h2>70,3 <span class="unit">Kg</span></h2>
      </ion-label>
      <ion-button fill="clear" slot="end" size="small">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

  <div *ngIf="activeTab === 'glicemia'" class="registros">
    <ng-container *ngFor="let grupo of glicemiaAgrupada">
      <div class="section-title">{{ grupo.titulo }}</div>
  
      <ion-item *ngFor="let item of grupo.registros">
        <ion-label>
          <p>{{ item.dia }} <span>{{ item.hora }}</span></p>
          <h2>{{ item.valor }} <span class="unit">mg/dL</span></h2>
        </ion-label>
  
        <ion-icon *ngIf="item.alerta" name="warning-outline" color="danger" slot="end"></ion-icon>
  
        <ion-button fill="clear" slot="end" size="small">
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ng-container>
  </div>
  


  <div *ngIf="activeTab === 'pressao'" class="registros">
    <p>Em breve: Pressão</p>
  </div>

  <div *ngIf="activeTab === 'temperatura'" class="registros">
    <p>Em breve: Temperatura</p>
  </div>

  <!-- Botão flutuante -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
      <span class="fab-label">{{ activeTab.toUpperCase() }}</span>
    </ion-fab-button>
  </ion-fab>
  

</ion-content>
