.card-top {
    background-color: #eaf6ef;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    margin-bottom: 20px;
  
    h2 {
      color: #1c7c5a;
      font-weight: bold;
      font-size: 20px;
    }
  }
  
  .info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    font-size: 14px;
    margin-bottom: 24px;
  }
  
  .carteirinha-box {
    background-color: #e6f2eb;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .titulo {
    font-size: 20px;
    font-weight: bold;
    color: #207245;
    margin-bottom: 20px;
  }
  